<section id="recurringProblems">
  <div class="d-flex justify-content-between align-items-center gap-5">
    <img src="/assets/images/consumer.png" alt="Consumidor" rel="preload" />
    <div>
      <p>
        Sem o apoio jurídico necessário, o consumidor sempre será a parte mais
        fraca da relação de consumo.
      </p>
      <p>
        Do outro lado, grandes empresas contam com equipes especializadas em
        criar obstáculos para dificultar a busca por seus direitos.
      </p>
      <p>Evite dores de cabeça, e conte com nossa expertise nos casos de:</p>
      <ul>
        <li>Cobranças indevidas</li>
        <li>Produtos com vício ou defeito</li>
        <li>Cláusulas abusivas em contratos</li>
        <li>Recusa de cancelamento de serviço</li>
        <li>Falha na prestação de internet e telefonia</li>
        <li>Atraso, cancelamento de voos e extravio de bagagem</li>
        <li>Corte injustificado no fornecimento de água e energia elétrica</li>
      </ul>
    </div>
  </div>
</section>
