<section id="about" class="d-flex justify-content-around gap-5">
  <img
    src="/assets/images/aboutLawyer.png"
    alt="Dr. Estácio Pedrosa - Advogado"
    rel="preload"
  />
  <div>
    <div>
      <p>Quem é o Dr. Estácio Pedrosa?</p>
      <p>
        Graduado em Direito pela Universidade Católica de Pernambuco (UNICAP) e
        pós-graduando em Direito do Consumidor e Direito Civil pela CERS, o Dr.
        Estácio Pedrosa atua diretamente com direito civil, militar e do
        consumidor no âmbito do contencioso administrativo e judicial nas
        esferas federais, estaduais e municipais.
      </p>
      <p>
        Sólidos conhecimentos em gestão de projetos, elaboração de relatórios,
        gestão de processos, administração e preparação de contratos,
        gerenciamento de prazos e tarefas, atendimento ao cliente, suporte
        administrativo, acompanhamento de indicadores, resolução de problemas,
        planejamento e organização de reuniões e eventos, controle de contas a
        pagar e a receber, bem como gerenciamento de documentos e arquivos.
      </p>
    </div>
    <app-cta-button buttonText="Gostaria de mais informações" />
  </div>
</section>
