<section id="about" class="d-flex justify-content-around gap-5">
  <img
    src="/assets/images/aboutLawyer.png"
    alt="Dr. Estácio Pedrosa - Advogado"
    rel="preload"
  />
  <div>
    <div>
      <p>Quem é o Dr. Estácio Pedrosa?</p>
      <p>
        Com a disciplina e a seriedade de mais de 8 anos no Exército Militar
        Brasileiro, o Dr. Estácio Pedrosa encontrou na área jurídica a melhor
        forma de promover justiça na sociedade.
      </p>
      <p>
        Graduado em Direito pela Universidade Católica de Pernambuco (UNICAP) e
        pós-graduando em Direito do Consumidor e Direito Civil pela CERS, o Dr.
        Estácio Pedrosa apresenta formação sólida e experiência prática para
        solucionar o seu caso.
      </p>
    </div>
    <!-- <app-cta-button buttonText="Entre em contato agora" /> -->
  </div>
</section>
