a {
  width: fit-content;

  margin: auto;

  border-radius: 0.2rem;

  background: linear-gradient(30deg, #00C398, #25d366);
  color: white;

  padding: 0.7rem 3.5rem;

  text-decoration: none;
  font-style: italic;

  transition: ease-in-out 0.5s;

  & > p {
    text-align: center;

    font-size: 95%;

    transform: translateY(-0.1rem);
  }

  &:hover {
    box-shadow: 0 0 20px #00C398;

    transform: scale(1.03);
  }
}

@media screen and (max-width: 768px) {
  a {
    padding: 0.7rem 1.5rem;

    justify-content: space-between;

    & > p {
      text-align: center;
    }
  }
}
