#scrollUpButton {
  position: fixed;

  color: white;
  background-color: black;

  border-radius: 0.2rem;

  bottom: 3rem;
  right: 3rem;

  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  transition: ease-in-out 0.5s;

  &:hover {
    background-color: rgb(46, 46, 46);

    box-shadow: 0 0 5px white;

    transform: scale(1.2);
  }
}

@media screen and (max-width: 768px) {
  #scrollUpButton {
    bottom: 3.5rem;
    right: 1.5rem;

    width: 2rem;
    height: 2rem;
  }
}
