<main>
  <app-header />
  <app-banner />
  <app-recurring-problems />
  <app-about />
  <app-competitive-edges />
  <footer class="bg-black text-white text-center py-2">
    <p class="m-0">Dr. Estácio Pedrosa • OAB/PE 62.540</p>
    <p class="m-0">Todos os direitos reservados</p>
  </footer>

  <a id="scrollUpButton" href="#header" *ngIf="showBackToTop">
    <i class="fa-solid fa-chevron-up"></i>
  </a>

  <a
  href="https://api.whatsapp.com/send/?phone=558193222174&text&type=phone_number&app_absent=0"
  target="_blank"
  aria-label="Entrar em contato pelo WhatsApp"
  title="Entrar em contato pelo WhatsApp"
>
  <i class="fa-brands fa-whatsapp" id="whatsappFixedIcon"></i>
</a>
</main>
