#banner {
  background: url("../../../../../../public/assets/images/bannerBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: white;

  padding-left: 7vw;
  padding-right: 4vw;

  & > div {
    margin: auto;

    & > div {
      margin-bottom: 5vh;

      & > p:first-of-type {
        font-size: 150%;

        font-weight: bold;
      }
    }
  }

  & > img {
    width: 40%;

    object-fit: contain;
  }
}

@media screen and (max-width: 1018px) {
  #banner {
    padding-top: 9vh;

    flex-direction: column;

    & > img {
      width: 60%;

      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  #banner {
    text-align: center;

    padding-right: 10vw;
    padding-left: 10vw;


    & > img {
      width: 100%;
    }
  }
}
