<section id="competitiveEdges">
  <div class="d-flex justify-content-between align-items-center gap-5">
    <div>
      <p>Nosso foco é solucionar, não processar.</p>
      <p>Evite litígios custosos e prolongados no Poder Judiciário.</p>
      <p>
        Também alcançamos resultados favoráveis com acordo extrajudicial,
        mediação e arbitragem.
      </p>
    </div>
    <img
      src="/assets/images/timeManagement.png"
      alt="Gestão de tempo"
      rel="preload"
    />
  </div>
  <app-cta-button buttonText="Preciso solucionar o meu caso" />
</section>
