@font-face{
  font-family: 'Queensides';
  src: url(../public/assets/fonts/QueensidesBold.ttf) format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Queensides';
  src: url(../public/assets/fonts/QueensidesMedium.ttf) format('truetype');
  font-weight: normal;
}

/* RESET CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* CUSTOM CSS */
body{
  font-size: 1.4rem !important;
  font-family: 'Queensides', sans-serif !important;
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem !important;
  }
}
